#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.page-center {
  min-height: 70vh;           
  display: flex;
  flex-direction: column;
  justify-content: center;     
  align-items: center;        
  text-align: center;
}

.home-hero {
  min-height: 80vh;          
  display: flex;
  flex-direction: column;
  justify-content: flex-start;   
  padding: 6rem 12%;         
  text-align: left;
}

.home-hero h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home-hero p {
  max-width: 650px;
  font-size: 2rem;
  line-height: 1.6;
  color: #444;
}

.home-hello {
  font-size: 1.4rem;
  margin-bottom: 2rem; /* space bewteen hello and intro*/
}

.home-intro {
  max-width: 650px;
  font-size: 3.2rem;  
  line-height: 1.6;
}